<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @local.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @local.description %>
</p>
<% if policy(@local).update? %>
<%= link_to 'Edit', edit_local_path(@local) %> |
<% end %>
<%= link_to 'Back', root_path %>
