<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Local:</strong>
  <%= @event.local.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start t:</strong>
  <%= @event.start_t %>
</p>

<p>
  <strong>End t:</strong>
  <%= @event.end_t %>
</p>

<%= link_to 'Edit', edit_local_event_path(@local,@event) %> |
<%= link_to 'Back', local_events_path(@local) %>
